<div class="container">
  <div class="site">
    <h2 class="title">About Me</h2>
    <p>
      My name is John. I'm a graduate from the Iron Yard Coding Bootcamp. During my time at the Iron 
      Yard my focus was learning the ins and outs of Ruby on Rails engineering.
      My main focus currently is Ruby, Ruby on Rails, ActiveRecord, Test Driven Development, git, and other developer based tools.
    </p>
    <br>
    <p>
      The content on this site will be a mixture of articles regarding coding, traveling, and my journey with becoming fluent in Spanish - and sometimes articles on random topics I'm interested in at the time.
      When I'm not working on code, you can usually finding me spending time with my family and friends.
      I enjoy playing basketball, bettering my Spanish, drinking a good cup of coffee, and traveling whenever I can.
    </p>
  </div>  
</div>
