<div class="container">
  <div class="about-me-info">
    <h2 class="title">About Me</h2>
    <p>
      I’ve been creating websites for over 20 years and I’ve evolved into a more backend focused software developer during the last 10 years. Despite my unescapable Frenchness, my favorite languages are English and Ruby.
    </p>
    <p>
      ljsdsdljsdlsdljdsjlhdsljlsj
    </p>
  </div>  
</div>
