<div class="site">
  <h1 class="title is-1">Get In Touch</h1>

  <p>
    Thanks for stopping by! If you'd like to contact me I can be reached by <a href="mailto:jchristopher.cato@gmail.com">email</a> or <a href="https://twitter.com/cato_hga">Twitter</a>.
  </p>
  <br>
  <p>
    All of my projects and code can be found <a href="https://github.com/cato-hga">here</a>.
  </p>
</div>
