<% if current_user %>
  <%= link_to 'Sign in', new_user_session_path %>
<% else %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% end %>

<div class="has-text-centered">
  <%= link_to "New Post", new_post_path %>
  <br>
  <br>
  <% @posts.each do |post| %>
    <span> <%= link_to "#{post.title}", post_path(post) %> </span>
    <br>
    <br>
  <% end %>
</div>  