<% if current_user %>
  <%= link_to 'Sign in', new_user_session_path %>
<% else %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% end %>

<div class="has-text-centered">
  <%= link_to "New Post", new_post_path %>
  <% @posts.each do |post| %>
    <p> Title: <%= post.title %> </p>
  <% end %>
</div>  