<!-- @post.image.present? will always return true, use attached? to check presence -->
<% if @post.post_image.attached? %>
  <p>
    <strong> Image: </strong>
    <br>
    <%= image_tag(@post.post_image.variant(resize: "400x400!", auto_orient: true))%>
  </p>
<% end %>

<p>
  <strong>Body</strong><br>
  <%= sanitize @post.body %>
</p>
