// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 #post-title {
   color: black;
 }

 #post h2 {
  font-size: 2.0em;
 }

 #written-on-date {
   color: #777;
   font-style: italic;
 }

 #post h3 {
   text-align: right;
   font-size: 1.4em;
   font-weight: bold;
 }

 #post {
   margin-top: -50px;
 }

 #post-published-date {
  width: 100%;
  text-align: right;
  color: lightgrey;
  font-weight: bold;
}